<!DOCTYPE html>
<html>
<head>
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> SecurityPi Server</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div sec:authorize="isAnonymous()">
                    <!-- Only show if user is not signed in. -->
                    <form th:action="@{/login}" method="post" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input tabindex="1" type="text" placeholder="Username" name="username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input tabindex="2" type="password" placeholder="Password" name="password" class="form-control" />
                        </div>
                        <button tabindex="3" type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>

                <div sec:authorize="hasRole('ROLE_USER')">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><p class="navbar-text">Hello, <a href="/user" sec:authentication="name"></a>!</p></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin settings</a></li>-->
                        <li>
                            <form th:action="@{/logout}" method="post" class="navbar-form">
                                <button type="submit" class="btn btn-success">Sign out</button>
                            </form>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </nav>

    <div sec:authorize="isAnonymous()" class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>
            <p>SecurityPi is a platform for monitoring events at home.</p>
        </div>
    </div>
</div>


</body>
</html>