<!DOCTYPE html>
<html>
<head>
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.1/jquery.min.js}">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
          th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}">
    </script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div sec:authorize="hasRole('ROLE_ADMIN')" class="row">

        <div class="col-md-4" id="apitokens">
            <h2>API keys</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create new token</h3>
                </div>

                <div class="panel-body">
                    <form th:action="@{./api/admin/token/generate}" method="post">
                        <div class="form-group">
                            <label for="friendly_name">Friendly name</label>
                            <input type="text" class="form-control" name="name" id="friendly_name" placeholder="SecurityPi"/>
                        </div>
                        <button type="submit" class="btn btn-default">Generate new token</button>
                    </form>
                </div>
             </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tokens</h3>
                </div>

                <div class="panel-body">
                    <p>Below is a list of current API keys in use, with last associated IP and last time of use.</p>
                </div>
            </div>

            <div class="panel panel-default" th:if="${apitokens.isEmpty()}">
                <div class="panel-heading" >
                    <h3 class="panel-title">No tokens</h3>
                </div>
                <div class="panel-body">
                    <p>No tokens created.</p>
                </div>
            </div>

            <div class="panel panel-default" th:each="apitoken : ${apitokens}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${apitoken.friendlyName}">Friendly name</h3>
                </div>
                <div class="panel-body">
                    <p>Token: <strong th:text="${apitoken.token}">bwazipr'Pokw*tRhO)un7r$qAAMZOjsU</strong><br/>
                    Created: <strong th:text="${#dates.format(apitoken.created, 'yyyy-MM-dd HH:mm')}">yyyy-MM-dd HH:mm:ss</strong></p>
                    <table class="table">
                        <tr>
                            <td>
                                <form th:action="@{./api/admin/token/revoke/__${apitoken.token}__}" method="post">
                                    <button type="submit" class="btn btn-danger">Revoke</button>
                                </form>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>

        </div>

        <div class="col-md-4" id="users">
            <h2>Users</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create new user</h3>
                </div>

                <div class="panel-body">
                    <form th:action="@{./api/admin/user/create}" th:object="${create_user}" method="post">
                        <span class="text-success" th:if="${param.success}">User created successfully</span>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="name" id="username" th:field="*{username}" placeholder="Awesomeuser"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="name" id="password" th:field="*{password}" placeholder="Secure password"/>
                        </div>

                        <button type="submit" class="btn btn-default">Create new user</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current users</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                    <div th:each="user : ${users}">
                        <tr>
                            <td th:text="${user.username}">Admin</td>
                            <td><span th:each="role : ${user.userRoles}"><span th:text="${role.role}"></span> </span></td>
                            <td th:if="${user.isEnabled() == true}"><span class="text-success">True</span></td>
                            <td th:if="${user.isEnabled() == false}"><span class="text-danger">False</span></td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modal-banner">edit</a>

                                <div class="modal fade bannderformodal" tabindex="-1" role="dialog" id="modal-banner">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Edit user</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <label>Change password</label>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" id="new-password" placeholder="New password"/>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Change password</button>
                                                </form>

                                                <hr />

                                                <form>
                                                    <label>User roles</label>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="role-user" value="role-user" /> User
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="role-admin" value="role-admin" /> Admin
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Update roles</button>
                                                </form>

                                                <hr />

                                                <form>
                                                    <button type="submit" class="btn btn-danger">Disable user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>

        <div class="col-md-4" id="database">
            <h2>Database</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Database info</h3>
                </div>

                <table class="table">
                    <tr>
                        <th>Address</th>
                        <td>localhost</td>
                    </tr>
                    <tr>
                        <th>Port</th>
                        <td>2020</td>

                    </tr>
                    <tr>
                        <th>Connected</th>
                        <td><span class="text-success">True</span></td>
                    </tr>

                    <tr>
                        <th>Database</th>
                        <td>securitypi</td>
                    </tr>
                    <tr>
                        <th>User</th>
                        <td>secpi</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-md-4" id="other">
            <h2>Other</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">System information</h3>
                </div>

                <table class="table">
                    <tr>
                        <th>Uptime</th>
                        <td>2h 4min 23sec</td>
                    </tr>
                    <tr>
                        <th>Free memory</th>
                        <td>8.6GB</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>