<!DOCTYPE html>
<html>
<head>
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>API keys</h2>
            <p>Below is a list of current API keys in use, with last associated IP and last time of use.</p>

            <div th:if="${apitokens == null}">
                <p>No tokens</p>
            </div>
            <div th:each="apitoken : ${apitokens}">
                <a href="#" class="list-group-item">
                    <p class="list-group-item-text"><span th:text="${apitoken.token}"></span></p>
                </a>
            </div>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>