<!DOCTYPE html>
<html>
<head>
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <!-- Custom styles for dashboard -->
    <link href="../static/css/dashboard.css"
          th:href="@{/css/dashboard.css}"
          rel="stylesheet" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.1/jquery.min.js}">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
          th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}">
    </script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="row">

        <div th:replace="fragments/sidebar :: sidebar"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin overview</h1>

            <!-- Placeholders -->
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                    <h4>Connection issues</h4>
                    <span class="text-muted">No devices are connected</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                    <h4>Used memory</h4>
                    <span class="text-muted">The server uses 32MB out of 128MB of allocated memory</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                    <h4>Database size</h4>
                    <span class="text-muted">The database <span th:text="${database.databaseName}">securitypi</span> currently uses <span th:text="${database.databaseSize}">7140 kB</span></span>
                </div>

            </div>

            <!-- Tokens -->
            <h1 class="page-header" id="tokens">Tokens</h1>
            <div class="row">

                <!-- Group panels into smaller columns -->
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create new token</h3>
                        </div>
                        <div class="panel-body">
                            <form th:action="@{./api/admin/token/generate}" method="post">
                                <div class="form-group">
                                    <label for="friendly_name">Friendly name</label>
                                    <input type="text" class="form-control" name="name" id="friendly_name" placeholder="SecurityPi"/>
                                </div>
                                <button type="submit" class="btn btn-default">Generate new token</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">About tokens</h3>
                        </div>
                        <div class="panel-body">
                            <p>Below is a list of current API tokens in use. Tokens are used to uniquely identify an
                                application when communicating with the server API. To get access to the server API, a custom
                                http header parameter must be set up in the application using the token as the header value.</p>
                            <code>X-Api-Key : token</code>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tokens</h3>
                        </div>
                        <table class="table" th:if="${apitokens.isEmpty()}">
                            <tr>
                                <th>No tokens created</th>
                            </tr>
                        </table>
                        <table class="table">
                            <tr>
                                <th>Friendly name</th>
                                <th>Token</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                            <tr th:each="apitoken : ${apitokens}">
                                <td th:text="${apitoken.friendlyName}">SecurityPi</td>
                                <td th:text="${apitoken.token}">debug</td>
                                <td th:text="${#dates.format(apitoken.created, 'yyyy-MM-dd HH:mm')}">yyyy-MM-dd HH:mm:ss</td>
                                <td>
                                    <form th:action="@{./api/admin/token/revoke/__${apitoken.token}__}" method="post">
                                        <button type="submit" class="btn-danger btn-sm">Revoke</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Users -->
            <h1 class="page-header" id="users">Users</h1>
            <div class="row">

                <!-- Group panels into smaller columns -->
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create new user</h3>
                        </div>
                        <div class="panel-body">
                            <form th:action="@{./api/user/create}" th:object="${fake_user}" method="post">
                                <span class="text-success" th:if="${param.success}">User created successfully</span>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="name" id="username" th:field="*{username}" placeholder="Awesomeuser"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="name" id="password" th:field="*{password}" placeholder="Secure password"/>
                                </div>
                                <button type="submit" class="btn btn-default">Create new user</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">About users</h3>
                        </div>
                        <div class="panel-body">
                            <p>A user account is required to access most resources on SecurityPies web-interface. A user
                            may be given different privileges and access rights. To access the API, a token should be
                            used instead.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users</h3>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Username</th>
                                <th>Roles</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.username}">Admin</td>
                                <td><span th:each="role : ${user.userRoles}"><span th:text="${role.role}"></span> </span></td>
                                <td th:if="${user.isEnabled() == true}"><span class="text-success">True</span></td>
                                <td th:if="${user.isEnabled() == false}"><span class="text-danger">False</span></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#modal-banner" th:attr="data-target='#modal-banner-'+${user.id}">edit</a>

                                    <div class="modal fade bannderformodal" tabindex="-1" role="dialog" id="modal-banner" th:attr="id='modal-banner-'+${user.id}">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Edit <span th:text="${user.username}"></span></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{./api/user/__${user.id}__/change/password}" method="post" th:object="${fake_user}">
                                                        <label>Change password</label>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" id="new-password" placeholder="New password" th:field="*{password}"/>
                                                        </div>
                                                        <button type="submit" class="btn btn-default">Change password</button>
                                                    </form>

                                                    <hr />

                                                    <form th:action="@{./api/user/__${user.id}__/edit/roles}" method="post" th:object="${role_bean}">
                                                        <label>User roles</label>
                                                        <div class="form-group"  th:each="role : ${allRoles}">
                                                            <input type="checkbox" th:field="*{userRoles}" th:value="${role}" />
                                                            <label class="checkbox-inline" th:text="${role}">Role</label>

                                                        </div>
                                                        <button type="submit" class="btn btn-default">Update roles</button>
                                                    </form>

                                                    <hr />

                                                    <form th:action="@{./api/user/__${user.id}__/disable}" method="post" th:if="${user.enabled == true}">
                                                        <button type="submit" class="btn btn-danger">Disable user</button>
                                                    </form>
                                                    <form th:action="@{./api/user/__${user.id}__/enable}" method="post" th:if="${user.enabled == false}">
                                                        <button type="submit" class="btn btn-success">Enable user</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Database -->
            <h1 class="page-header" id="database">Database</h1>
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Database info</h3>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Database</th>
                                <td th:text="${database.databaseName}">database</td>
                            </tr>
                            <tr>
                                <th>User</th>
                                <td th:text="${database.databaseUser}">secpi</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td th:text="${database.databaseSize}">0kB</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>