<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:ddl="http://www.thymeleaf.org/dandelion"
        xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head lang="en">
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/jquery.dataTables.css" rel="stylesheet" media="screen" />
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}">
    </script>
    <script src="../js/jquery.dataTables.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>All events</h2>

            <div th:if="${events == null}">
                <p>No events</p>
            </div>
            <table class="table" id="eventTable" dt:table="true">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Heading</th>
                    <th>Message</th>
                    <th>Severity</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}">
                        <td th:text="${event.timestamp}">yyyy-MM-dd HH:mm:ss</td>
                        <td th:text="${event.heading}">Some heading</td>
                        <td th:text="${event.message}">A longer description.</td>
                        <td th:text="${event.severity}">Severity</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<!-- /container -->

<script>
    $(document).ready(function() {
        $('#eventTable').DataTable();
    } );
</script>

</body>
</html>