<!DOCTYPE html>
<html>
<head lang="en">
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

    <div th:each="event : ${events}">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading" th:text="${event.heading}">Heading</h4>
            <p class="list-group-item-text"><span th:text="${event.timestamp}"></span> -
                <span th:text="${event.message}"></span></p>
        </a>
    </div>

</body>
</html>