<!DOCTYPE html>
<html>
<head>
    <title>SecurityPi Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://bootswatch.com/slate/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-slate/3.3.1+2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}">
    </script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div sec:authorize="hasRole('ROLE_USER')" class="row">
        <div class="col-md-4" id="temperature">
            <h2>Temperature</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Last reading</h3>
                </div>
                <div class="panel-body">
                    <span th:text="${tempReading.temperature}">0.00</span> degrees celsius.<br/>
                    Last reading was done:
                        <span th:if="${tempReading.timestamp == null}">N/A</span>
                        <span th:text="${tempReading.timestamp} ? ${#dates.format(tempReading.timestamp, 'yyyy-MM-dd HH:mm')}">N/A</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Average last 24 hours</h3>
                </div>
                <div class="panel-body">
                    <span th:text="${tempAvg}">0.00</span> degrees celsius.
                </div>
            </div>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4" id="motiondetection">
            <h2>Motion detection</h2>
            <p>Motion detection is currently <span class="text-danger">OFF</span>.</p>
            <p>SecurityPi will not monitor and detect motion when disabled. You can turn on detection by clicking
            <a href="#">here</a> or by activating it on the SecurityPi hardware.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4" id="events">
            <h2>Other events</h2>

            <div class="panel panel-default" th:if="${events.isEmpty()}">
                <div class="panel-heading">
                    <h3 class="panel-title">No events</h3>
                </div>
                <div class="panel-body">
                    <p>No events reported.</p>
                </div>
            </div>

            <div class="panel panel-default" th:each="event : ${events}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${event.heading}">Heading</h3>
                </div>
                <div class="panel-body">
                    <p class="list-group-item-text"><span th:text="${#dates.format(event.timestamp, 'yyyy-MM-dd HH:mm')}"></span> -
                        <span th:text="${event.message}"></span></p>
                </div>
            </div>

            <p><a class="btn btn-default" href="/events" role="button">View more &raquo;</a></p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>